<!DOCTYPE html>

<html class="no-js" lang="ru" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="description" content="Test"/>
        <meta name="keywords" content="Test"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="/css/bootstrap.css" rel="stylesheet"/>

        <script src="http://use.fontawesome.com/79ca9ae758.js"></script>

        <!--[if lt IE 9]>
        <script>
            (function () {
                var ef = function () {
                };
                window.console = window.console || {log: ef, warn: ef, error: ef, dir: ef};
            }());
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <![endif]-->
    </head>
    <body style="margin: 10px">
        <div id="pageContent"></div>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

        <script src="/js/build/testApp.js"></script>
    </body>
</html>